
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>MTM数据采集app使用指南</title>
    <link rel="stylesheet" href="css/video-js.css" inline>
</head>
<body>
    <p style="text-align:center">暂未上传使用视频教程</p>
    <video id="my-video" class="video-js" controls preload="auto" width="640" height="264"
  poster="/images/mtm.png" data-setup="{}">
    <source src="video/1.mp4" type='video/mp4'>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
  </video>
    <script src="/js/video.js"></script>
    <script>
        videojs.options.flash.swf = "../public/js/video-js.swf";
    </script>
</body>
</html>
